<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DOM task</title>
<link rel="stylesheet" href="index.css">
</head>
<body>
<table id="myTable">
    <tr>
        <th>Image</th>
        <th onclick="sortTable(1)">Name</th>
        <th>Species</th>
        <th onclick="sortTable(3)">Created</th>
        <th>Episode</th>
        <th>Location</th>
    </tr>
</table>

</div>
<script src="index.js"></script>
</body>